.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  width: auto;
  background-color: rosybrown;
}

.input{
  padding: 15px;
  width: 80%;
  margin: auto;
  border: 3px solid purple;
  border-radius: 10px;
  font-size: large;
}
.input:focus{
  outline: none;
}