body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container{
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  width: 30vw;
  height: 90vh;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
}

.container::before{
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background-image: url(./image/sunset.jpg);
  background-position: bottom;
  background-size: cover;
  opacity: 0.6;
}

.container-summer{
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  width: 30vw;
  height: 90vh;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
}
.container-summer::before{
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background-image: url(./image/summer.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  opacity: 0.6;
}
.container-winter{
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  width: 30vw;
  height: 90vh;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
}
.container-winter::before{
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background-image: url(./image/winter.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  opacity: 0.6;
}


.container h1{
  position: relative;
  display: block;
  position: absolute;
  margin-top: -75vh;
  font-weight: bolder;
}

.input{
  position: fixed;
  display: block;
  margin-top: -55vh;
  outline: none;
  font-size: large;
  text-align: center;
  width: 20vw;
  height: 5vh;
  border: 2.5px solid rgb(80, 50, 200);
  border-radius: 10px;
  opacity: 0.4;
}
.input:focus{
  opacity: 1;
}

.weather-info{
  position: relative;
}

.weather-info h2{
  position: relative;
  margin-top: -110px;
}

.weather-info ul li{
  text-decoration: none;
  list-style: none;
}

.weather-info div{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content1{
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 90px;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  background: rgba(200,200,200,0.4);
  text-align: center;
  box-shadow: 5px 5px rgba(200,200,200,0.6);
  font-size: larger;
}

.content2{
  margin-top: 20px;
  font-weight: 500;
  font-size: x-large;
}

.content3 {
  margin-top: 20px;
  font-size: x-large;
}

.content4{
  margin-top: 20px;
  font-size: x-large;
}

.content5{
  margin-top: 20px;
  font-size: x-large;
}

@media only screen and (max-width: 600px) {
   .container{
     display: grid;
     grid-template-columns: 1fr 0.5fr;
     grid-template-rows: 0.6fr 0.4fr 0.4fr 0.4fr;
     grid-gap: 20px;

   }
}